<html>
<head>
<style>
body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
}
img#slide {
    float: left;
}
img#slide-next {
    float: right;
}
#slide-annot {
    color: white;
    font-size: 200%;
    white-space: pre;
    font-family: 'sans serif',Verdana,Arial;
    margin: 1em;
}
#freeze {
    color: white;
}
</style>
</head>
<body onload="init()">
<img id="slide" width="100%"/>
<img id="slide-next" style="display: none;"/><span id="slide-annot" style="display: none;"></span>
<input type="button" onclick="open_slides()" value="Open slides" style="display: none;" id="open-btn" />
<div><span style="display: none;" id="freeze">Freeze</span></div>
<script>
    var slide = 0;
    var x = 0;
    var presenter = false;
    var slides = null;
    var freeze = false;

    function next() {
        if(slide < slide_img.length - 2) slide++;
        redraw();
    }

    function prev() {
        if(slide > 0) slide--;
        redraw();
    }
    
    function goto(sid) {
        slide = sid;
        redraw();
    }

    function redraw() {
        document.getElementById("slide").src = "data:image/svg+xml;base64," + slide_img[slide];
        if(presenter) {
            if(slide_img[slide + 1] != 0) {
                document.getElementById("slide-next").src = "data:image/svg+xml;base64," + slide_img[slide + 1];
            } else {
                document.getElementById("slide-next").src = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=";
            }
            document.getElementById("slide-annot").innerHTML = atob(slide_annot[slide]);
            
            if(slides && !freeze) {
                try {
                    slides.goto(slide);
                } catch(e) {
                    slides.postMessage({"action": "goto", "data": slide}, "*");
                }
            }
        }
    }

    function unify(e) {
        e = e || window.event;
        return e.changedTouches ? e.changedTouches[0] : e
    };

    function move(e) {
        e.preventDefault();
        x = unify(e).clientX;
    }

    function stop(e) {
        e.preventDefault();
        var new_x = unify(e).clientX;
        if(new_x > x) prev();
        else next();
    }

    function open_slides() {
        slides = window.open(document.location.href.replace(/\?presenter/g, "?presentslides"));
        try {
            slides.goto(slide);
        } catch(e) {
            window.setTimeout(function() {
                slides.postMessage({"action": "goto", "data": slide}, "*");
            }, 100);
        }
    }
    
    
    function receiveMessage(event) {
        if(event.data.action !== undefined && event.data.action == "goto") {
            goto(event.data.data);
        }
        //console.log(event);
    }

    function init() {
        var font_size = 200;
    
        if(document.location.href.indexOf("?presenter") != -1) {
            presenter = true;
            document.getElementById("slide").style.width="70%";
            document.getElementById("slide-next").style.width="30%";
            document.getElementById("open-btn").style.display = "block";
            document.getElementById("slide-next").style.display = "block";
            document.getElementById("slide-annot").style.display = "";
        }
        var img = document.getElementById("slide");
        img.addEventListener('wheel', function(e) {
            e = e || window.event;
            e.preventDefault();
            if(e.deltaY < 0) {
                prev();
            } else {
                next();
            }
        });

        window.addEventListener("keydown", function(e) {
            e = e || window.event;
            if(e.keyCode === 37 /*|| e.keyCode === 38*/) {
                e.preventDefault();
                prev();
            } else if(e.keyCode == 39 /*|| e.keyCode === 40*/) {
                e.preventDefault();
                next();
            } else if(e.key == "+") {
                font_size += 10;
                document.getElementById("slide-annot").style.fontSize = font_size + "%";
            } else if(e.key == "-") {
                font_size -= 10;
                document.getElementById("slide-annot").style.fontSize = font_size + "%";
            } else if(e.key == "f") {
                freeze = !freeze;
                document.getElementById("freeze").style.display = freeze ? "" : "none";
                redraw();
                
            } else console.log(e.keyCode);
        });

        img.addEventListener("touchstart", move);
        img.addEventListener("touchend", stop);
        img.addEventListener("touchmove", function(e) {
            e.preventDefault()
        }, false);

        if(!presenter) window.addEventListener("message", receiveMessage, false);
       
        redraw();
    };
    
